//
@import "partials/card";
@import "partials/reset";
@import "partials/container";
@import "partials/button";
@import "partials/typography.scss";

main {
    background-color: black;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
