@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@300;400;700&display=swap);.card {
  width: 15%;
}
.card .title {
  color: white;
  padding: 5px 0;
}
.card img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 10px;
     object-position: 0px 10px;
}
.card:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
}

.btn {
  width: 100%;
  text-align: center;
  color: white;
}
.btn:active {
  transform: scale(0.98);
}
.btn a {
  padding: 5px 30px;
  color: white;
  text-transform: uppercase;
  background-color: #0282f9;
}
.btn a:hover {
  opacity: 0.9;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 100px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20%;
  height: 100%;
  margin-right: 100px;
}
header .logo img {
  width: 60px;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}
header .nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}
header .nav li {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0px 10px;
  text-transform: uppercase;
}
header .nav li:hover {
  border-bottom: 5px solid #0282f9;
  transition: 0.2s;
}
header .nav li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
header .nav li a:hover {
  color: #0282f9;
  transition: 0.2s;
}

.jumbo {
  position: relative;
  background-image: url("/images/jumbotron.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo label {
  position: absolute;
  bottom: -20px;
  left: 200px;
  background-color: #0282f9;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

main {
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}