@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Roboto:wght@300;400;700&display=swap);.card {
  width: 15%;
}
.card .title {
  color: white;
  padding: 5px 0;
}
.card img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 10px;
     object-position: 0px 10px;
}
.card:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto;
}

.btn {
  width: 100%;
  text-align: center;
  color: white;
}
.btn:active {
  transform: scale(0.98);
}
.btn a {
  padding: 5px 30px;
  color: white;
  text-transform: uppercase;
  background-color: #0282f9;
}
.btn a:hover {
  opacity: 0.9;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  height: 100px;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 20%;
  height: 100%;
  margin-right: 100px;
}
header .logo img {
  width: 60px;
}
header .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
}
header .nav ul {
  display: flex;
  height: 100%;
  align-items: center;
}
header .nav li {
  display: flex;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0px 10px;
  text-transform: uppercase;
}
header .nav li:hover {
  border-bottom: 5px solid #0282f9;
  transition: 0.2s;
}
header .nav li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
header .nav li a:hover {
  color: #0282f9;
  transition: 0.2s;
}

.jumbo {
  position: relative;
  background-image: url("/images/jumbotron.jpg");
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbo label {
  position: absolute;
  bottom: -20px;
  left: 200px;
  background-color: #0282f9;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 37.5rem;
  width: 100%;
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
}
footer .footer-top {
  position: relative;
  background-color: #0282f9;
  height: 6.25rem;
  z-index: 3;
}
footer .footer-top ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}
footer .footer-top ul li {
  display: flex;
  align-items: center;
  padding: 0.625rem 0.9375rem;
}
footer .footer-top ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
footer .footer-top ul li a {
  display: flex;
  align-items: center;
}
footer .footer-top ul li a img {
  width: 2.5rem;
  margin: 0rem 0.3125rem;
}
footer .footer-top ul li span {
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}
footer .footer-middle {
  position: relative;
  width: 70%;
  margin: auto;
  display: flex;
}
footer .footer-middle .links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}
footer .footer-middle .links ul {
  margin: 0rem 0.625rem;
}
footer .footer-middle .links ul li {
  padding: 0.0625rem;
}
footer .footer-middle .links ul li a {
  color: white;
  opacity: 0.6;
  font-weight: lighter;
  font-size: 0.75rem;
}
footer .footer-middle .links ul li a:hover {
  opacity: 1;
}
footer .footer-middle .dc-logo-big img {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50% -50%);
  z-index: 1;
  opacity: 0.8;
}
footer .footer-bottom {
  display: flex;
  position: relative;
  height: 6.25rem;
  background-color: #303030;
  z-index: 2;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom .container .btn-footer {
  width: 100%;
  text-align: center;
  color: white;
  outline: 0.125rem solid #0282f9;
  padding: 0.5625rem 0;
}
footer .footer-bottom .container .btn-footer:active {
  transform: scale(0.98);
}
footer .footer-bottom .container .btn-footer a {
  color: white;
  text-transform: uppercase;
  background-color: #0282f9;
  padding: 1.25rem;
}
footer .footer-bottom .container .btn-footer a:hover {
  opacity: 0.9;
}
footer .footer-bottom .container .btn-footer:hover {
  outline-offset: 0.3125rem;
}
footer .footer-bottom .container .btn-footer:hover:active {
  transform: scale(0.98);
}
footer .footer-bottom .container .links-icons {
  display: flex;
  align-items: center;
}
footer .footer-bottom .container .links-icons span {
  color: #0282f9;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.3125rem;
}
footer .footer-bottom .container .links-icons ul {
  display: flex;
}
footer .footer-bottom .container .links-icons ul li {
  padding: 0.625rem;
}
footer .footer-bottom .container .links-icons ul li:hover {
  opacity: 0.7;
}

main {
  background-color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}