 header{
        height: 100px;


     .logo{
            display: flex;
            align-items: center;
            justify-content: start;
            width: 20%;
            height: 100%;
            margin-right: 100px;
            img{
                width: 60px;
            }
        }
     .nav{
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 80%;
         ul{
             display: flex;
             height: 100%;
             align-items: center;

                     }
             li{
                 display: flex;
                 align-items: center;
                 height: 100%;
                 list-style: none;
                 padding: 0px 10px;
                 text-transform: uppercase;

                 &:hover {
                     border-bottom: 5px solid $main-color ;
                     transition: 0.2s;

                 }

                 a{
                     display: flex;
                     align-items: center;
                     height: 100%;
                     text-decoration: none;
                     color: black;
                     font-weight: 600;
                     &:hover{
                        color:$main-color;
                        transition: 0.2s;
                        }

             }
         }
     }
    }
